<a href="https://colab.research.google.com/github/AbdulWahabRaza123/NLP/blob/main/NameEntityRecognizationNLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy
nlp=spacy.load("en_core_web_sm")

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [7]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 billion")

for ent in doc.ents:
  print(ent.text," | ",ent.label_," | ",spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [9]:
#for good looking output
from spacy import displacy
displacy.render(doc,style="ent")

'<div class="entities" style="line-height: 2.5; direction: ltr">\n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Tesla Inc\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n is going to acquire twitter for \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    $45 billion\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MONEY</span>\n</mark>\n</div>'

In [10]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [12]:
doc=nlp("Micheal Blommberg founded a Bloomberg in 1982")

for ent in doc.ents:
  print(ent.text," | ",ent.label_," | ",spacy.explain(ent.label_))

Micheal Blommberg  |  PERSON  |  People, including fictional
Bloomberg  |  GPE  |  Countries, cities, states
1982  |  DATE  |  Absolute or relative dates or periods

In [14]:
doc=nlp("Tesla is going to acquire twitter for $45 billion")
#here our model do not recognizing the tesla and twitter as company if we use INC with twitter then it can recognizes as company
for ent in doc.ents:
  print(ent.text," | ",ent.label_," | ",spacy.explain(ent.label_))

$45 billion  |  MONEY  |  Monetary values, including unit

In [15]:
#to add custom label we can use 
from spacy.tokens import Span

s1=Span(doc,0,1,label="ORG")
s2=Span(doc,5,6,label="ORG")

doc.set_ents([s1,s2],default="unmodified")

In [18]:
#Now it is recognizing properly
for ent in doc.ents:
  print(ent.text," | ",ent.label_)

Tesla  |  ORG
twitter  |  ORG
$45 billion  |  MONEY

##Exercise

In [19]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

In [23]:
#fetching all the locations
locations=[]
for ent in doc.ents:
  if ent.label_ in ['GPE']:
    locations.append(ent)
     # print(ent," | ",ent.label_)

In [29]:
len(locations)

6

In [30]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [32]:
# fetching data of births
dob=[]
for ent in doc.ents:
  if ent.label_ in ['DATE']:
    dob.append(ent)
    # print(ent," | ",ent.label_)

In [33]:
dob

[24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]

In [34]:
len(dob)

4